@property --in {
  syntax: "<integer>";
  inherits: false;
  initial-value: 7;
}
@property --out {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@function --id(--x <integer>) returns <integer> {
  result: var(--x);
}

:root {
  --out: --id(var(--in));
}
