@property --x {
  syntax: "<integer>";
  inherits: false;
  initial-value: 5;
}
@property --r {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@function --double(--n <integer>) returns <integer> {
  result: calc(var(--n) * 2);
}

:root {
  --r: --double(var(--x));
}
